<div class="bin">
  <h3>Want to bin this?</h3>
  <%= semantic_form_for(@need) do |f| %>
    <%= f.inputs do %>
      <%= f.input :status, :value => 'bin', :as => 'hidden' %>
      <%= f.input :reason_for_decision %>
      <%= f.commit_button 'Bin it' %>
    <% end %>
  <% end %>
</div>
