<div class="ready-for-carding">
  <p>Ready to make a decision?</p>
  <%= semantic_form_for(@need) do |f| %>
    <%= f.inputs do %>
      <%= f.input :kind %>
      <%= f.input :status, :collection => Need::STATUSES %>
      <%= f.input :priority, :as => :select, :collection => %w(low medium high) %>
      <%= f.input :reason_for_decision %>
      <%= f.commit_button 'Decision made' %>
    <% end %>
  <% end %>
</div>
