<%= semantic_form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <%= render 'errors' %>
  <% end %>

  <%= f.inputs :id => 'overview' do %>
    <%= f.input :title, :label => 'Need *' %>
    <%= f.input :description, :label => 'Context', :hint => "provide some information about the circumstances surrounding this need" %>
    <%= f.input :tag_list, :as => :string, :label => 'Tags', :hint => "separate tags with commas" %>
  <% end %>

  <%= f.inputs :search_rank, :pairwise_rank, :traffic, :usage_volume, :interaction, :related_needs, :name => 'Metrics', :id => 'metrics'%>
  
  <% if f.object.persisted? %>
    <%= f.inputs :id => 'metadata', :name => 'Product decision' do %>
      <%= f.input :kind %>
      <%= f.input :status, :collection => Need::STATUSES %>
      <%= f.input :url %>
      <%= f.input :priority, :as => 'select', :collection => %W(low medium high) %>
      <%= f.input :reason_for_decision %>
    <% end %>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :audiences, :as => :check_boxes %>
  <% end %>
  
  <%= f.buttons  %>

  <p style="text-align: right"><%= link_to raw('or return to list of needs without making changes &rarr;'), needs_path(:in_state => @need.status) %></p>
<% end %>
