<%= semantic_form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs :title, :description, :tag_list, :id => 'overview' %>
  <%= f.inputs :kind, :status, :url, :priority, :id => 'metadata', :name => 'Product decision' %>
  <%= f.inputs :departments, :id => 'departments' %>
  <%= f.inputs :kind, :details, :for => :justifications, :name => 'Justifications' %>
  <%= f.buttons %>
<% end %>
