<%= semantic_form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs :id => 'overview' do %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :tag_list, :hint => "separate tags with commas" %>
  <% end %>

  <% if current_user.role == 'superuser'  %>
    <%= f.inputs :kind, :status, :url, :priority, :reason_for_decision, :id => 'metadata', :name => 'Product decision' %>
  <% end %>

  <%= f.inputs :departments, :id => 'departments' %>

  <% unless f.object.persisted? %>
    <% f.object.justifications.build %>
    <%= f.inputs :kind, :details, :for => :justifications, :id => 'justifications', :name => 'Justifications' %>
  <% end %>
  
  <%= f.buttons %>
<% end %>
