<%= semantic_form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <%= render 'errors' %>
  <% end %>

  <%= f.inputs :id => 'overview' do %>
    <%= f.input :title, :label => 'Need *' %>
    <%= f.input :description, :label => 'Context', :hint => "provide some information about the circumstances surrounding this need" %>
    <%= f.input :tag_list, :as => :string, :label => 'Tags', :hint => "separate tags with commas" %>
  <% end %>

  <% if f.object.persisted? %>
    <%= f.inputs :id => 'metadata', :name => 'Product decision' do %>
      <%= f.input :kind %>
      <%= f.input :status, :collection => Need::STATUSES %>
      <%= f.input :url %>
      <%= f.input :priority, :as => 'select', :collection => Need::PRIORITIES_FOR_SELECT if @need.format_assigned?%>
      <%= f.input :reason_for_formatting_decision if @need.format_assigned? %>
    <% end %>
    <%= f.inputs(:id => 'fact_checkers', :name => 'Fact checkers') do %>
      <ul id="fact_checkers_list">
      <% @need.fact_checkers.each do |fact_checker| %>
        <li class="existing"><%= fact_checker.contact.email %><%= hidden_field_tag("fact_checkers[#{fact_checker.id}]", fact_checker.id) %></li>
      <% end %>
        <li><%= email_field_tag('fact_checkers[n][email]') %></li>
      </ul>

    <% end %>
    <%= f.inputs(:id => 'accountabilities', :name => 'Accountabilities') do %>
      <ul id="accountabilities_list">
      <% @need.accountabilities.each do |accountability| %>
        <li class="existing"><%= accountability.department.name %><%= hidden_field_tag("accountabilities[#{accountability.id}]", accountability.id) %></li>
      <% end %>
        <li><%= text_field_tag('accountabilities[n][name]') %></li>
      </ul>

    <% end %>
  <% end %>

  <%= f.buttons  %>

  <p style="text-align: right"><%= link_to raw('or return to list of needs without making changes &rarr;'), needs_path(:in_state => @need.status) %></p>
<% end %>
