<%= semantic_form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <%= render 'errors' %>
  <% end %>

  <%= f.inputs :id => 'overview' do %>
    <%= f.input :title, :label => 'Need *' %>
    <%= f.input :description, :label => 'Context', :hint => "provide some information about the circumstances surrounding this need" %>
    <%= f.input :tag_list, :as => :string, :label => 'Tags', :hint => "separate tags with commas" %>
  <% end %>

  <% if f.object.persisted? %>
    <%= f.inputs :id => 'metadata', :name => 'Product decision' do %>
      <%= f.input :kind %>
      <%= f.input :status, :collection => Need::STATUSES %>
      <%= f.input :url %>
      <%= f.input :priority, :as => 'select', :collection => Need::PRIORITIES_FOR_SELECT if @need.format_assigned?%>
      <%= f.input :reason_for_formatting_decision if @need.format_assigned? %>
      <%= f.input :writing_department, :label => 'Writing team' %>

      <% i = 0 %><%= f.semantic_fields_for :accountabilities, accountabilities_for(@need) do |accountability| %>
        <%= accountability.input :department, :as => :select, :collection => Department.order('name'), :label => (i == 0) ? 'Policy owner' : "&nbsp;" %>
        <% i += 1 %>
      <% end %>

      <% i = 0 %><%= f.semantic_fields_for :fact_checkers do |fact_checker| %>
        <%= fact_checker.input :email, :required => false, :label => (i == 0) ? 'Fact checker' : "&nbsp;" %>
        <% i += 1 %>
      <% end %>

    <% end %>

    <fieldset class="inputs" id="existing_services">
      <ol>
        <li class="input">
          <fieldset class="inputs">
            <legend>Existing Services</legend>
              <ol>
                <%= f.semantic_fields_for :existing_services do |builder| %>
                  <%= render :partial => "existing_service_fields", :locals => { :f => builder } %>
                <% end %>
                <li class="add-item"><%= link_to_add_fields "Add an existing service", f, :existing_services %></li>
              </ol>
          </fieldset>
        </li>
      </ol>
    </fieldset>

    <fieldset class="inputs" id="directgov_links">
      <ol>
        <li class="input">
          <fieldset class="inputs">
            <legend>Directgov Links</legend>
              <ol>
                <%= f.semantic_fields_for :directgov_links do |builder| %>
                  <%= render :partial => "directgov_link_fields", :locals => { :f => builder } %>
                <% end %>
                <li class="add-item"><%= link_to_add_fields "Add a Directgov link", f, :directgov_links %></li>
              </ol>
          </fieldset>
        </li>
      </ol>
    </fieldset>

    <fieldset class="inputs" id="justifications">
      <ol>
        <li class="input">
          <fieldset class="inputs">
            <legend>Evidence</legend>
              <ol>
                <%= f.semantic_fields_for :justifications do |builder| %>
                  <%= render :partial => "justification_fields", :locals => { :f => builder } %>
                <% end %>
                <li class="add-item"><%= link_to_add_fields "Add evidence", f, :justifications %></li>
              </ol>
          </fieldset>
        </li>
      </ol>
    </fieldset>

  <% end %>

  <%= f.buttons %>

  <p style="text-align: right"><%= link_to raw('or return to list of needs without making changes &rarr;'), needs_path(:in_state => @need.status) %></p>
<% end %>
