<%= semantic_form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <%= render 'errors' %>
  <% end %>

  <%= f.inputs :id => 'overview' do %>
    <%= f.input :title, :label => 'Need *' %>
    <%= f.input :description, :label => 'Context', :hint => "provide some information about the circumstances surrounding this need" %>
    <%= f.input :tag_list, :as => :string, :label => 'Tags', :hint => "separate tags with commas" %>
  <% end %>

  <% if f.object.persisted? %>
    <%= f.inputs :id => 'metadata', :name => 'Product decision' do %>
      <%= f.input :kind %>
      <%= f.input :status, :collection => Need::STATUSES %>
      <%= f.input :url %>
      <%= f.input :priority, :as => 'select', :collection => Need::PRIORITIES_FOR_SELECT if @need.format_assigned?%>
      <%= f.input :reason_for_formatting_decision if @need.format_assigned? %>
      <%= f.input :writing_department, :label => 'Writing team' %>

      <% i = 0 %><%= f.semantic_fields_for :accountabilities, accountabilities_for(@need) do |accountability| %>
        <%= accountability.input :department, :as => :select, :collection => Department.order('name'), :label => (i == 0) ? 'Policy owner' : "&nbsp;" %>
        <% i += 1 %>
      <% end %>

      <% i = 0 %><%= f.semantic_fields_for :fact_checkers do |fact_checker| %>
        <%= fact_checker.input :email, :required => false, :label => (i == 0) ? 'Fact checker' : "&nbsp;" %>
        <% i += 1 %>
      <% end %>

    <% end %>

  <% end %>

  <%= f.buttons  %>

  <p style="text-align: right"><%= link_to raw('or return to list of needs without making changes &rarr;'), needs_path(:in_state => @need.status) %></p>
<% end %>
