<div class="done">
  <p>Is the implementation complete?</p>
  <%= semantic_form_for(@need) do |f| %>
    <%= f.inputs do %>
      <%= f.input :status, :collection => ['done', 'bin'] %>
      <%= f.input :url %>
      <%= f.commit_button 'It is done' %>
    <% end %>
  <% end %>
</div>