<h1>
  Listing <%= status_name params[:in_state] %> needs
</h1>

<table>
  <tr>
    <th></th>
    <% if params[:in_state] == 'bin' %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
  </tr>

<% @needs.each do |need| %>
  <tr>
    <td><%= link_to need.title, need %></td>
    <% if params[:in_state] == 'bin' %>
    <td><%= need.reason_for_decision %></td>
    <% end %>
    <td><%= link_to 'Edit', edit_need_path(need) %></td>
    <td><%= link_to 'Destroy', need, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Need', new_need_path %>
