<% content_for(:title) { @need.title } %>
<div id="need-overview">

<div id="id-status" class="<%= @need.status %>">
  <h2 id="id-number">#<%= @need.id %></h2>
  <h3 id="status"><%= status_name @need.status %></h3>
</div>

  <div id="need-title-description" class="need-section">
    <h1><%= @need.title %>   <% if current_user.is_admin? %><small><%= link_to 'Edit', [:edit, @need] %></small><% end %></h1>
    <p><%= markdown @need.description %></p>
  </div>
</div>
<!-- end need-overview   -->

<div id="need-details" class="two-thirds">

  <div class="need-section">
    <h3>Tags</h3>
    <p><%= @need.tag_list %></p>
  </div>

  <div class="need-section">
    <h3>Existing Services</h3>
    <p>Link to existing services that satisfy this need, either on Government sites or elsewhere.</p>
    <ul class="supporting-information">
    <% @need.existing_services.each do |existing_service| %>
    <li>
      <p>This service is an <strong><%= existing_service.kind %></strong> service, and is <strong><%= existing_service.government_run? ? 'government run' : 'not government run' %></strong>.</p>
      <% unless existing_service.description.blank? %><%= markdown existing_service.description %><% end %>
      <% if existing_service.link %><p><%= link_to existing_service.link, existing_service.link %></p><% end %>
      <% if current_user.is_admin? %>
        <p><%= link_to 'Edit', edit_need_existing_service_path(@need, existing_service), :class => 'button' %> <%= button_to 'Delete', need_existing_service_path(@need, existing_service), :class => 'button', :method=>:delete %></p>
      <% end %>
    </li>
    <% end %>
    </ul>
    <p><%= link_to 'Add service', new_need_existing_service_path(@need), :class => 'button' %></p>
  </div>

  <div class="need-section">
    <h3>Directgov links</h3>
    <p>Add the DG numbers of Directgov content which relate to this need</p>
    <ul class="supporting-information">
    <% @need.directgov_links.each do |link| %>
    <li>
      <p>
        <%= link_to link.url, link.url %> - <%= link.title %> -
        <% if current_user.is_admin? %>
          <%= link_to 'Edit', edit_need_directgov_link_path(@need, link), :class => 'button' %> <%= button_to 'Delete', need_directgov_link_path(@need, link), :class => 'button', :method=>:delete %>
        <% end %>
      </p>
    </li>
    <% end %>
    </ul>
    <p><%= link_to 'Add link', new_need_directgov_link_path(@need), :class => 'button'%></p>
  </div>

  <div class="need-section">
    <h3>Evidence</h3>
    <p>Add evidence which supports this need, such as analytics data, or explicit government policy or statutory requirement.</p>
    <ul class="supporting-information">
    <% @need.justifications.each do |justification| %>
    <li>
      <p><%= justification.evidence_type %></p>
      <p><%= markdown justification.details %></p>
      <% if justification.file? %>
        <p><%= link_to 'Download file', justification.file_url %></p>
      <% end %>
      <% if current_user.is_admin? %>
        <p><%= link_to 'Edit', edit_need_justification_path(@need, justification), :class => 'button' %></p>
      <% end %>
    </li>
    <% end %>
    </ul>
    <p><%= link_to 'Add evidence', new_need_justification_path(@need), :class => 'button'  %></p>
  </div>

</div><!-- end need-details -->

<div id="need-meta" class="one-third">

  <div class="need-section">

    <% if @need.formatting_decision_made? %>
    <p>Formatting decision made at <%= @need.formatting_decision_made_at %> by <%= @need.formatting_decision_maker %></p>
    <p><%= @need.reason_for_formatting_decision %></p>
    <% end %>

    <% if @need.decision_made? %>
    <p>Decision made at <%= @need.decision_made_at %> by <%= @need.decision_maker %></p>
    <p><%= @need.reason_for_decision %></p>
    <% end %>

    <table>
      <tr>
        <th scope="row">Format type</th>
        <td><%= @need.kind %></td>
      </tr>
      <tr>
        <th scope="row">Created</th>
        <td><%= time_ago_in_words(@need.created_at) %></td>
      </tr>
      <tr>
        <th scope="row">Updated</th>
        <td><%= time_ago_in_words(@need.updated_at) %></td>
      </tr>
      <tr>
        <th scope="row">Added By</th>
        <td><%= @need.creator %></td>
      </tr>
      <tr>
        <th scope="row">Priority</th>
        <td><%= @need.named_priority %></td>
      </tr>                            
      <tr>
      	<th scope="row">Policy Dept</th>
        <td><%= @need.accountabilities_for_csv rescue '' %></td>
      </tr>
      <tr>
      	<th scope="row">Fact checkers</th>
        <td><%= @need.fact_checkers_for_csv %></td>
      </tr>
      <% if @need.writing_department %>
      <tr>
	      <th scope="row">Writing Dept</th>
        <td><%= @need.writing_department.name %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <% if current_user.is_admin && @need.format_assigned? %>
  <div class="need-section">
    <% # Temporary fix till we sort out LGSL code stuff %>
    <% if ! @need.kind_id == 6 %>
      <p><%= start_work_link @need %></p>
      <p><%= assign_work_link @need %></p>
    <% else %>
      <p><strong>You can't currently start work on Local Authority Transactions - sorry!</strong></p>
    <% end %>
    <p><%= link_to 'Print label', print_need_path(@need), :class => 'button', :target => '_new' %></p>
  </div>
  <% end %>

</div><!-- end need-meta -->

<div id="need-progress">
  <% if @need.errors.any? %>
    <%= render 'errors' %>
  <% end %>

  <% if current_user.is_admin? %>
    <% if @need.status == Need::NEW %>
      <div class="ready-for-review">
        <h3>Is this ready for review? Has evidence been provided?</h3>
        <%= button_to 'Submit for review', need_path(@need, :need => {:status => Need::READY_FOR_REVIEW}), :method => :put %>
      </div>
    <% elsif @need.status == Need::READY_FOR_REVIEW %>
      <%= render 'decision' %>
    <% elsif @need.status == Need::FORMAT_ASSIGNED %>
      <%= render 'mark_done' %>
    <% end %>

    <%= render 'bin' %>
  <% end %>
  <% if !current_user.is_admin? %>
    <div class="bin">
      <h3>This need is being reviewed by our team</h3>
    </div>
  <% end %>
</div><!-- end need-progress -->

<br class="clear">

<% content_for :current_state, @need.status %>
