<div id="id-status" class="<%= @need.status %>">
  <h3 id="id-number">#44</h3>
  <h4 id="status"><%= status_name @need.status %></h4>
</div>

<div id="need-title-description" class="need-section">
  <h1><%= @need.title %></h1>
  <p><%= markdown @need.description %></p>

  <p><%= link_to 'Edit need', [:edit, @need] %></p>
  
  <% if @need.status == 'new' %>
    <p>Is this ready for review? Has evidence been provided?</p>
    <%= button_to 'Submit it now', need_path(@need, :need => {:status => 'ready-for-review'}), :method => :put %>
  <% elsif @need.status == 'ready-for-review' and current_user.role == 'superuser' %>
    <%= render 'decision' %>
  <% elsif @need.status == 'ready-for-carding' and current_user.role == 'superuser' %>
    <%= render 'mark_done' %>
  <% end %>
</div>

<div class="need-section">

  <% if @need.decision_made? %>
  <p>Decision made at <%= @need.decision_made_at %> by <%= @need.decision_maker %></p>
  <p><%= @need.reason_for_decision %></p>
  <% end %>

  <dl>
    <dt>Format Type</dt>
    <dd><%= @need.kind %></dd>
    <dt>Created</dt>
    <dd><%= @need.created_at %></dd>
    <dt>Updated</dt>
    <dd><%= @need.updated_at %></dd>
    <dt>Added By</dt>
    <dd>tbd</dd>
    <dt>Priority</dt>
    <dd><%= @need.priority %></dd>
  </dl>

</div>

<div class="need-section">

<p>Tagged: <%= @need.tag_list %></p>
<p>Departments Interested: <%= @need.departments.collect(&:to_s).to_sentence %></p>

</div>

<div class="need-section">
  <h3>Existing Services</h3>
  <% @need.existing_services.each do |existing_service| %>
  <div>
    <p><%= existing_service.kind %> <%= existing_service.government_run? ? 'Government run' : 'Not government run' %></p>
    <p><%= markdown existing_service.description %></p>
    <% if existing_service.link %>
    <p><%= link_to existing_service.link, existing_service.link %></p>
    <% end %>
    <p><%= link_to 'Edit', edit_need_existing_service_path(@need), :class => 'button' %></p>
  </div>
  <% end %>
  
  <p><%= link_to 'Add service', new_need_existing_service_path(@need) %></p>
</div>


<div id="justifications">
  <h3>Evidence</h3>
  <% @need.justifications.each do |justification| %>
  <div>
    <p><%= justification.evidence_type %></p>
    <p><%= markdown justification.details %></p>

    <% if justification.file? %>
      <p><%= link_to 'Download file', justification.file_url %></p>
    <% end %>
    
    <p><%= link_to 'Edit', edit_need_justification_path(@need), :class => 'button' %></p>
  </div>
  <% end %>
  
  <p><%= link_to 'Add evidence', new_need_justification_path(@need) %></p>
</div>
