<% content_for(:title) {
  if @filters.present? or params[:query]
    title_filters = @filters.map{ |field,val| t("field.long.#{field}").downcase + " '#{val.join(', ')}'" }.join(' and ')
    if params[:query]
      "Search results for '#{params[:query]}'" + ( @filters.present? ? " with #{title_filters}" : "")
    else
      "Needs with #{title_filters}"
    end
  else
       "All needs"
  end
} %>

<% if @filters.present? %>
<ul class="filters well">
  <h3>Filter applied:</h3>
  <% @filters.each do |field_name, values| %>
    <% values.each do |value| %>
    <% label = field_name == 'priority' ? t("priority_#{value}") : value %>
      <li>
        <strong><%= t("field.long.#{field_name}") %>:</strong> <%= label %>
        <%= link_to "x", search_link_with_removed_filter(params, @filters, field_name => value), :class => "btn btn-small removal-indicator", :title => "Remove this filter" %>
      </li>
    <% end %>
  <% end %>


  <% if params[:query] %>
    <li>
      <strong>Search:</strong> <%= params[:query] %>
      <%= link_to "x", search_link_with_removed_filter(params.reject{|key, value| key >= 'query'}, @filters, :query => params[:query]), :class => "btn btn-small removal-indicator" %>
    </li>
  <% end %>
</ul>
<% end %>

<div class="row-fluid">
  <div class="search-filters span2">
    <% if @search.facets %>
      <h2>Search Filters</h2>
      <% @facets.each do |facet| %>
        <h3><span class="visuallyhidden">Filter by</span> <%= t("field.long.#{facet}") %></h3>
        <ul class="facet nav nav-pills nav-stacked">
          <% @search.facets[facet]['terms'].each do |details| %>
            <% next if details['term'].blank? %>
            <% label = facet == 'priority' ? t("priority_#{details['term']}") : details['term'] %>
            <% if filtering_by?(facet, details['term']) %>
              <li class="active">
                <%= label %> (<%= details['count'] %>)
                <%= link_to('x', search_link_with_removed_filter(params, @filters, facet => details['term']), class: 'remove') %>
              </li>
            <% else %>
              <li><%= link_to("#{label} (#{details['count']})", search_link_with_added_filter(params, @filters, facet => details['term'])) %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="span10">
    <% if @search.nothing_found? %>
      <p>No needs were found which match these criteria.</p>
    <% else %>
      <%= render :partial => "needs/needs_display", :locals => { :needs => @search, :sortable_columns => true } %>
    <% end %>

    <% if @search.pages.count > 1 %>
    <div class="pagination">
      <ul>
        <%= pagination_link(@current_page - 1, '&larr; Previous'.html_safe, 'prev') %>
        <% paginate_from = [@current_page - 2, 1].max %>
        <% paginate_to = [[@current_page + 2, paginate_from + 4].max, @search.pages.last].min %>
        <% if paginate_from > 1 %>
          <%= pagination_link(1, 1) %>
        <% end %>
        <% if paginate_from > 2 %>
          <li class="disabled"><span>&hellip;</span></li>
        <% end %>
        <% (paginate_from..paginate_to).each do |page_num| %>
          <%= pagination_link(page_num, page_num) %>
        <% end %>
        <% if paginate_to < @search.pages.last - 1 %>
          <li class="disabled"><span>&hellip;</span></li>
        <% end %>
        <% if paginate_to < @search.pages.last %>
          <%= pagination_link(@search.pages.last, @search.pages.last) %>
        <% end %>
        <%= pagination_link(@current_page + 1, 'Next &rarr;'.html_safe, 'next') %>
      </ul>
    </div>
    <% end %>

  </div>

</div>
