<%= semantic_form_for([@need, @existing_service]) do |f| %>
  <% if @existing_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@existing_service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @existing_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :description %>
    <%= f.input :link, :as => :string %>
    <%= f.input :government_run %>
    <%= f.input :kind, :collection => %W(online offline), :as => :radio %>
  <% end %>
  <%= f.buttons %>
<% end %>
