<!DOCTYPE html>
<html>
  <head>
    <title>Need-O-Tron</title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <div id="app-header">
        <p id="logo"><%= link_to 'Need-O-Tron', root_path %></p>
        <div role="navigation">
          <ul id="admin-options">
            <%- unless user_signed_in? or controller_name != 'sessions' %>
              <li><%= link_to "Sign in", new_session_path(resource_name) %></li>
            <% end -%>
            <%- if ! user_signed_in? && devise_mapping.recoverable? && controller_name != 'passwords' %>
              <li><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
            <% end -%>
            <% if user_signed_in? && current_user.role == 'superuser' %>
            <li><%= link_to "Invite people", new_user_invitation_path %></li>
            <% end %>
            <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path %></li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
          <ul class="navigation">
            <li>
              <a class="new" href="<%= needs_url(:in_state => 'new') %>">
                New
                <span class="count">(<%= Need.in_state('new').count %>)</span>
                <div class="arrow-right"></div>
              </a>
            </li>
            <li>
              <a class="ready-for-review" href="<%= needs_url(:in_state => 'ready-for-review') %>">
                Ready for review
                <span class="count">(<%= Need.in_state('ready-for-review').count %>)</span>
                <div class="arrow-right"></div>
              </a>
            </li>
            <li>
              <a class="ready-for-carding" href="<%= needs_url(:in_state => 'ready-for-carding') %>">
                Ready for carding
                <span class="count">(<%= Need.in_state('ready-for-carding').count %>)</span>
                <div class="arrow-right"></div>
              </a>
            </li>
            <li>
              <a class="done" href="<%= needs_url(:in_state => 'done') %>">
                Done
                <span class="count">(<%= Need.in_state('done').count %>)</span>
              </a>
            </li>
            <li>
              <a class="bin" href="<%= needs_url(:in_state => 'bin') %>">
                Bin
                <span class="count">(<%= Need.in_state('bin').count %>)</span>
              </a>
            </li>
          </ul>
          <ul class="navigation">
            <li><%= link_to 'Enter a new need', new_need_path %></li>
            <li><%= link_to 'View all needs', needs_path %></li>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div id="main-content" class="<%= yield :current_state %>">
      <div id="content-area">
        <% flash.each do |k, v| %>
        <p class="<%= k %> flash-<%= k %>"><%= v %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <div id="footer">
      &copy; <%= Date.today.year %> <a href="http://blog.alpha.gov.uk">The Team Formerly Known as Alphagov</a>.
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :extra_javascript %>
  </body>
</html>
