<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) + " - " if content_for?(:title) %>Need-O-Tron</title>
    <%= stylesheet_link_tag "/stylesheets/core", "/stylesheets/formtastic", "/stylesheets/needs", "/stylesheets/table-icons.css" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <div id="app-header">
        <p id="logo"><%= link_to 'Need-O-Tron', root_path %>. <small>Hello <%= current_user %>, you&rsquo;re looking lovely today.</small></p>

        <div role="navigation">
          <ul id="admin-options">
            <%- unless user_signed_in? or controller_name == 'auth_start' %>
              <li><%# link_to "Sign in", gds_login_path %></li>
            <% end -%>
          </ul>
          <% if user_signed_in? %>
          <ul class="navigation">
            <li><%= link_to 'View all needs', search_path %></li>
            <li>
              <a class="new" href="<%= search_link_for_page({}, {status: 'new'}, 1) %>">
                New
                <span class="count">(<%= Need.in_state('new').count %>)</span>
                <div class="arrow-right"></div>
              </a>
            </li>
            <% if current_user.is_admin? %>
            <li><%= link_to 'Enter a new need', new_need_path %></li>
            <li><%= link_to 'View analytics', 'https://www.google.com/analytics/web/#dashboard/default/a26179049w50705554p51337955/', :title => "Leave the Needotron and open Google Analytics" %></li>
            <% end %>
          </ul>

          <div class="search">
            <form action='<%= (controller_name == 'search') ? "" : "/search"  %>'>
              <label>Search for:
                <%= text_field_tag :query, params[:query] %>
              </label>
              <%= submit_tag "Search" %>
            </form>
          </div>

          <% end %>
        </div>
      </div>
    </div>
    <div id="main-content" class="<%= yield :current_state %>">
      <div id="content-area" class="cf">
        <% flash.each do |k, v| %>
        <p class="<%= k %> flash-<%= k %>"><%= v %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <div id="footer" class="cf">
      &copy; <%= Date.today.year %> <a href="http://digital.cabinetoffice.gov.uk/"><abbr title="Government Digital Service">GDS</abbr></a>.
    </div>
    <script type="text/javascript" charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <%= javascript_include_tag "/javascripts/application","/javascripts/data_tables/jquery.dataTables.min.js", "/javascripts/needs" %>
    <%= yield :extra_javascript %>
  </body>
</html>
