<%= semantic_form_for([@need, @justification]) do |f| %>
  <% if @justification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@justification.errors.count, "error") %> prohibited this evidence from being saved:</h2>

      <ul>
      <% @justification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :kind %>
    <%= f.input :details %>
    <%= f.input :file, :as => :file %>
  <% end %>
  <%= f.buttons %>
<% end %>
